button {
  opacity: 0.6;
  pointer-events: none;
  background-color: #ffe0cb;
  color: #445680;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  opacity: 1;
  pointer-events: auto;
  min-width: 85px;
  text-align: center;
  transition: all .1s ease;
}

button:hover {
  background-color: #dec3b0;
}
