body {
  counter-reset: number 0;
}

.App {
  width: 400px;
  margin: 0 auto;
  background-color: #445680;
  color: #ffe0cb;
  padding: 50px;
}

.App__head {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.App__head span {
  display: inline-block;
  width: 60px;
}

.App__head span:last-child {
  width: 85px;
}

.App__body {
  margin-top: 30px;
}

.App__btn {
  display: flex;
  justify-content: space-between;
}

.App__lap {
  padding-top: 30px;
}

.App__lap li {
  font-weight: bold;
}

.App__lap li ~ li {
  margin-top: 5px;
}

.App__lap li::before {
  counter-increment: number 1;
  content: "Lap" counter(number) ": ";
  display: inline-block;
  min-width: 60px;
}
